import Loadable from 'react-loadable';
import Spinner from './spinner';

const AsyncChart = Loadable({
  loader: () => import('./chart'),
  loading: Spinner
});

class App extends React.Component {
  render() {
    return <AsyncChart />;
  }
}

export default App;
