// webpack.config.js
const path = require('path');

module.exports = {
  module: {
    rules: [{
      test: /\.js$/,
      include: path.resolve(__dirname, 'src'),
      use: {
        loader: 'babel-loader',
        options: {
          presets: [
            ['@babel/preset-env', {
              modules: false
            }],
            '@babel/preset-react'
          ]
        }
      }
    }]
  }
};
