import React from 'react';

class AsyncChart extends React.Component {

  constructor(props) {
    super(props);

    this.state = {
      Chart: null
    };
  }

  componentDidMount() {
    import('./chart').then(
      ({ default: Chart }) => {
        this.setState({
          Chart
        });
      }
    );
  }

  render() {
    const { Chart } = this.state;

    if (!Chart) {
      return (
        <p>Loading...</p>
      );
    } else {
      return (
        <Chart {...this.props} />
      );
    }
  }

}

class App extends React.Component {
  render() {
    return <AsyncChart />;
  }
}

export default App;
